* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-brand {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  color: white;
}

.navbar-toggler {
  color: white;
  background-color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 42.5rem;
  width: 100%;
  background-image: url(../assets/Background-1.jpg);
  background-origin: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px;
  margin-bottom: -20px;
}
main a {
  font-size: 40px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 10px;
  background: black;
  padding: 10px;
}
main a:hover {
  color: black;
  background: white;
  border-color: white;
}
main img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 47%;
  width: 25%;
}

.coming-out-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/Background-2.jpg);
  height: 10.5rem;
  width: 100%;
}
.coming-out-date img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 40%;
  width: 50%;
}

.social {
  background: #18473d;
}
.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.social__buttons__btn {
  margin: 70px 70px;
}
.social__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: white;
}
.social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__media__icon {
  font-size: 3rem;
  color: black;
  margin: 2rem;
}
.social__media__icon:hover {
  color: white;
}
.social__pgi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__pgi__rp {
  width: 5rem;
  margin: 1rem;
}
.social__pgi__privacy-certified {
  width: 5.56rem;
  margin: 1rem;
}
.social__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}
.social__privacy__link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.social__privacy__link:hover {
  text-decoration: underline;
  color: white;
}
.social__privacy__separator {
  padding: 0 20px;
}
.social__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -10px;
  padding: 30px;
  color: white;
}
.social footer {
  margin-bottom: -10px;
}

@media (max-width: 1198px) {
  main {
    background-size: 100%;
    height: 37.5rem;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat-x;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  main a {
    position: relative;
    top: 20rem;
    font-size: 32px;
    color: black;
    background: white;
    border-color: white;
  }
  main a:hover {
    color: white;
    background: black;
    border-color: black;
  }
  main img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
  }

  .coming-out-date {
    background-size: 100%;
    margin-top: 10px;
    height: 20rem;
  }
  .coming-out-date img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 5rem;
    top: 0;
    height: 30%;
    width: 90%;
  }

  .social__buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .social__buttons__btn {
    margin: 20px;
  }
  .social__follow {
    font-size: 1.5rem;
  }
  .social__media {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social__media__icon {
    margin: 30px;
    font-size: 2rem;
  }
  .social__privacy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .social__privacy__link {
    margin-bottom: 20px;
  }
  .social__privacy__separator {
    display: none;
  }
  .social__copyright {
    text-align: center;
    font-size: 1rem;
    color: rgb(145, 145, 145);
  }
}
@media screen and (max-width: 1048px) {
  main {
    background-position-y: 0rem;
    background-size: 125%;
  }
  main img {
    top: 60px;
  }
}
@media screen and (max-width: 820px) {
  main {
    background-size: 150%;
    background-position-x: -8rem;
  }
}
@media screen and (max-width: 780px) {
  main {
    background-size: 175%;
    background-position-x: -15rem;
  }

  .social__media__icon {
    font-size: 2rem;
  }
}
@media screen and (max-width: 599px) {
  main {
    background-size: 200%;
    background-position-x: -20rem;
  }
}
@media screen and (max-width: 550px) {
  main {
    background-size: 240%;
    background-position-x: -30rem;
    background-position-y: -2rem;
  }
}
@media screen and (max-width: 470px) {
  main {
    background-size: 270%;
    background-position-x: -32rem;
  }
}
@media screen and (max-width: 410px) {
  main {
    background-size: 290%;
  }
}
@media screen and (max-width: 390px) {
  main {
    background-size: 300%;
  }
}
@media screen and (max-width: 375px) {
  main {
    background-size: 360%;
    background-position-x: -43rem;
  }

  .social__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__media__icon {
    margin-left: 50px;
    margin-right: 50px;
  }
}