* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-brand {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.navbar-brand:hover {
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 42.5rem;
  width: 100%;
  background-image: url(../assets/Background-1.jpg);
  background-origin: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px;
  margin-bottom: -20px;
}
main a {
  font-size: 40px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}
main a:hover {
  color: white;
  text-decoration: underline;
}
main img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 47%;
  width: 25%;
}

.coming-out-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/Background-2.jpg);
  height: 10.5rem;
  width: 100%;
}
.coming-out-date img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 40%;
  width: 50%;
}

.social {
  background: #18473d;
}
.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.social__buttons__btn {
  margin: 70px 70px;
}
.social__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: white;
}
.social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
}
.social__media__icon {
  color: #00FFD1;
  margin: -15px 30px;
}
.social__media__icon:hover {
  color: rgb(187, 67, 67);
}
.social__media__en-rp {
  width: 5%;
  margin-bottom: -80px;
  left: 40px;
  position: relative;
  bottom: 40px;
}
.social__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}
.social__privacy__link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.social__privacy__link:hover {
  text-decoration: underline;
  color: white;
}
.social__privacy__separator {
  padding: 0 20px;
}
.social__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -10px;
  padding: 30px;
  color: white;
}

footer {
  margin-bottom: -10px;
}

@media screen and (max-width: 1000px) {
  main {
    background-size: 300%;
    height: 37.5rem;
    background-position-x: -79rem;
    background-position-y: -15rem;
    background-repeat: repeat-x;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  main a {
    font-size: 32px;
  }
  main img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 50%;
    position: relative;
    top: 0;
  }

  .coming-out-date img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 30%;
    width: 100%;
  }

  .social {
    text-align: center;
  }
  .social__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social__buttons__btn {
    margin: 20px;
  }
  .social__media {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social__media__icon {
    margin: 42px;
  }
  .social__media__en-rp {
    -o-object-fit: contain;
       object-fit: contain;
    width: 40%;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 780px) {
  main {
    background-size: 400%;
    background-position-x: -99rem;
  }
}
@media screen and (max-width: 642px) {
  main {
    background-size: 300%;
    background-position-x: -55rem;
    background-position-y: -10rem;
  }
}
@media screen and (max-width: 550px) {
  main {
    background-size: 400%;
    background-position-x: -70rem;
    background-position-y: -10rem;
  }
}
@media screen and (max-width: 478px) {
  main {
    background-position-x: -60rem;
  }
}
@media screen and (max-width: 405px) {
  main {
    background-position-x: -55rem;
  }
}
@media screen and (max-width: 395px) {
  main {
    background-position-x: -50rem;
    background-position-y: -5rem;
  }
}
@media screen and (max-width: 323px) {
  main {
    background-position-x: -40rem;
    background-position-y: -5rem;
  }
}